<main>
        <h2 class="mt-3">Aide au maintien à domicile</h2>
        <p class="mx-5 text-justify">
            Pour cet ensemble de service, l'équipe de QUALITY NURSE se veut à la pointe du progrès, la logistique la
            plus
            adaptée à vos besoins, que ce soit en terme de fourniture ou de garde malade. Elle dispose du meilleur
            matériel
            médical. Si d'autres services doivent être mis en place (aide familliale, garde malade, pédicure, coiffeur,
            ...)
            votre infirmier pourra vous renseigner ou vous donner des coordonnées d'une personne de contact.
        </p>
        <p class="mx-5 text-justify">Outre les soins prodigués aux patients, notre société vous propose aussi un service
            de facturation,
            d’encodages de vos soins à l’aide d’un logiciel agréé par l’Inami, c’est un service complet suivant la
            législation en vigueur. Ce service de facturation est destiné aux infirmiers à domicile travaillant sur la
            région de Bruxelles ainsi que dans toute la Belgique.
        </p>
</main>