<main>
    <section id="accueil">
        <div id="paragraphe">
            <p>L'alternative à l'hospitalisation est possible grâce à "Quality nurse".</p>
            <p>La volonté du groupe Q&amp;N est d'élever la qualité de service au rang de vertu.</p>
            <p>La prise en charge de patients atteints de pathologies lourdes, nécessitant perfusion ou nutrition à
                domicile, requiert un expertise que seuls des professionnels de la santé peuvent offrir.</p>
        </div>
    </section>
    <section id="nous">
        <div id="details">
            <h2>Qui sommes-nous ?</h2>
            <ol>
                <li>
                    La société "Quality Nurse" a été fondée par Mr Tonnelle Jean-Charles. C’est une structure
                    indépendante,
                    pratiquant le tiers payant, qui est constituée d' infirmier(e)s ayant une expérience de vingt années
                    en
                    soins à domicile.
                </li>
                <li>
                    Nous sommes spécialisés dans la prise en charge à domicile de patients palliatifs, perfusés et de
                    patients bénéficiant d’une nutrition entérale.
                </li>
                <li>
                    Le nom Quality Nurse n’est pas anodin, il traduit notre volonté de nous positionner comme une
                    véritable
                    interface entre le domicile et l’hôpital tout en respectant le même niveau de Qualité des soins.
                </li>
                <li>
                    Q&amp;N est capable d’envisager la prise en charge dans sa globalité afin que le retour à domicile
                    d’un
                    patient soit réalisé selon des règles drastiques de qualité, de sécurité et de confort.
                </li>
                <li>
                    C’est parce qu’au travers de toutes nos actions, nous gardons cette philosophie que nous pouvons
                    vous
                    garantir que le patient sera toujours au centre de nos préoccupations.
                </li>
            </ol>
        </div>
        <div id="infos">
            <div>
                <p>TONNELLE Jean-Charles</p>
                <p>Infirmier SIAMU</p>
                <p>20 années de soins à domicile</p>
            </div>
            <img src="images/Jean_Charles.jpg" alt="Photo de Jean-Charles Tonnelle">
        </div>
    </section>
</main>