<main>
    <h2>Quelques liens utiles</h2>
    <div id="links">
        <ul>
            <li><a href="http://www.hospidom.be/index.php/reseau-hospidom/">Les soins palliatifs</a> <span>*Page non
                    accessible</span></li>
            <li><a
                    href="http://www.inami.fgov.be/fr/professionnels/sante/infirmiers/Pages/default.aspx#.WHNyM_nhCM8">L'I.N.A.M.I.</a>
            </li>
            <li><a
                    href="http://www.inami.fgov.be/fr/themes/cout-remboursement/par-mutualite/prestations-individuelles/prix/Pages/infirmier.aspx#.WHyW_nhCM8">Honoraires
                    et remboursements</a></li>
            <li><a href="http://www.soinschezsoi.be/">Soins chez soi</a></li>
            <li><a href="http://www.alphamed-medical.com/">Matériels - bandagisterie</a></li>
            <li><a href="http://www.bruxelles.be/artdet.cfm/4212">Pharmacie de garde</a> <span>*Page non
                    existante</span></li>
        </ul>
    </div>
</main>