<main>
    <section class="mt-3">
        <h2>Nos Prestations</h2>
        <p class="mx-5">
            Afin de répondre au mieux aux besoins des patients à domicile, "Quality Nurse" est une structure composée
            d’intervenants qui sont (et seront toujours) des professionnels de la santé. Car seuls des infirmiers
            diplômés
            sont à même d’avoir l’expertise suffisante pour évaluer une situation à risque et donc permettre un retour
            ou un
            maintien à domicile en toute sécurité. Ainsi chaque prise en charge est personnalisée.
        </p>
    </section>
    <section id="prestations">
        <p>Les soins que nous vous prodiguons sont :</p>
        <ul>
            <li>Toilette complète</li>
            <li>Administration de médicaments en sous-cutané, intra-musculaire, intra-veineux</li>
            <li>Glycémies capillaires</li>
            <li>soins de plaies simples, complexes et spécifiques</li>
            <li>Mise en place et surveillance de perfusions (sous-cutanées et intra-veineuses)</li>
            <li>Alimentation parentérale</li>
            <li>Alimentation entérale par sonde gastrique ou stomie</li>
            <li>Lavement rectal</li>
            <li>Sondage vésical et lavage vésical</li>
            <li>Aspiration des voies respiratoire</li>
            <li>soins palliatifs</li>
        </ul>
    </section>
</main>