<main>
    <h2>Notre secteur</h2>
    <section class="mx-5">
    <p>Notre secteur couvre les communes suivantes :</p>
    <ul>
        <li>Uccle</li>
        <li>Ixelles</li>
        <li>Forest</li>
        <li>Waternael-Boifort</li>
    </ul>
    <p>Ainsi qu'une partie de Drogenbos.</p>
    <img src="/images/carte.jpg" alt="carte du secteur d'activité" width="500">
    </section>
</main>